* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color:rgb(253, 255, 255);
}

#create-modal .modal-body input {
    margin: 10px 5px;
}

#create-modal .modal-body textarea {
    margin: 10px 5px;
}

#create-modal .modal-body textarea::placeholder {
    padding: 0px 5px;
}

.task-container header {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 0 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.task-container header button {
    font-size: 14px;
    cursor: pointer;
    border: none;
    background-color: rgb(34, 34, 187);
}

.task-container #task-status {
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 10px;
}

.task-container #task-status div {
    font-size: 16px;
    text-align: center;
    padding: 0 10px;
    margin:0 10px;
  }

.task-container #task-status div.new-task {
    background-color: rgb(223, 190, 3);
    color: white;
    padding: 5px 10px;
}

.task-container #task-status div.pending-task {
    background-color: rgb(160, 194, 67);
    color: white;
    padding: 5px 10px;
}

.task-container #task-status div.done-task {
    background-color: rgb(37, 122, 37);
    color: white;
    padding: 5px 10px;
}

.task-container #task-section {
    margin: 20px;
}

.task-container #task-section .swiper-wrapper {
    width: 100%;
    height: auto;
}

.task-container #task-section .task-column {
    width: 33%;
}

.task-container #task-section .task-card {
    text-align: center;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 18px 10px;
    word-wrap: break-word;
}

.task-container #task-section .task-card .task-content div {
    padding: 10px 0;
}

.task-container #task-section .new h4 {
    background-color: rgb(223, 190, 3);
    color: white;
    cursor: pointer;
    padding: 5px 0;
}

.task-container #task-section .pending h4 {
    background-color: rgb(160, 194, 67);
    color: white;
    cursor: pointer;
    padding: 5px 0;
}

.task-container #task-section .done h4 {
    background-color: rgb(37, 122, 37);
    color: white;
    cursor: pointer;
    padding: 5px 0;
}

.task-container #task-section .task-card .task-content .btn-delete button-delete {
    background-color: rgb(202, 0, 0);
    color: white;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 7px;
    margin-bottom: 5px;
    padding: 5px;
}

.task-container #task-section .task-card .task-content .btn-change button-change {
    display: none;
    background-color: rgb(130, 172, 165);
    border-radius: 5px;
    color: white;
    padding: 5px;
    margin: 10px;
}

@media screen and (max-width: 480px) {

.task-container header {
    display: flex;
    flex-direction: column;
}

.task-container #task-status {
    display: flex;
    flex-direction: column;
    }

.task-container #task-status div {
    margin: 10px;
    }

.task-container #task-section .task-card .task-content h4 {
    cursor: default;
}

.task-container #task-section .task-card .task-content .btn-change button-change {
    display: inline-block;
    }
}